/* General Styles */

* {
  letter-spacing: 0.5px;
}

body {
  background-color: #191919;
}

.white-text {
  color: white;
}

.customcolor {
  background-color: #3eb489;
}

.gray-text-color {
  color: #a7a7a9;
}

.gray-text-color:hover {
  color: white;
}

.container-md {
  padding-top: 3rem;
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.card {
  background-color: #191919 !important;
  border: 1px solid rgba(117, 117, 118, 0.51);
  box-shadow: 2px 2px 20px rgb(17, 17, 17);
}

hr {
  color: #cecece;
}

/* Navbar Styles */

.navbar {
  background-color: #191919 !important;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  box-shadow: 2px 2px 20px rgb(17, 17, 17);
}

.logo {
  font-family: "Nova Square", sans-serif;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.menudiv {
  margin-right: 20px;
}

.buttonmargin {
  margin-right: 20px;
}

/* Earn Page Tables Styles */

.bottom-margin-div {
  margin-bottom: 106px
}

.custom-tooltip {
  background-color: #151515;
  color: white;
}

.list-group .list-group-item {
  background-color: #151515 !important;
  color: white;
  border: 1px solid rgba(117, 117, 118, 0.51);
}

/* Footer Styles */

.social-media-div {
  margin: 20px 40px 20px 40px;
}

.social-media-links {
  padding: 0px 32px 0px 32px;
}

.social-media-img:hover {
  opacity: 0.5;
}

footer {
  background-color: #151515;
  padding-bottom: 10px;
}

.footer-links {
  text-decoration: none;
  color: white;
}

.footer-links-div {
  margin: 0px 450px 20px 450px;
}

/* Media Queries  */

@media only screen and (max-width: 768px) {
  .social-media-links {
    padding: 0px 10px 0px 10px;
  }

  .footer-links-div {
    margin: 0px 100px 0px 100px;
  }

  .bottom-margin-div {
    margin-bottom: 0px;
  }
}
