/* General Styles */

* {
  letter-spacing: 0.5px;
}

body {
  background-color: #191919;
}

.white-text {
  color: white;
}

.customcolor {
  background-color: #3eb489;
}

.gray-text-color {
  color: #a7a7a9;
}

.gray-text-color:hover {
  color: white;
}

.container-md {
  padding-top: 3rem;
  padding-left: 2rem;
  margin-bottom: 3rem;
}

.card {
  background-color: #191919 !important;
  border: 1px solid rgba(117, 117, 118, 0.51);
  box-shadow: 2px 2px 20px rgb(17, 17, 17);
}

hr {
  color: #cecece;
}

/* Navbar Styles */

.offcanvas {
  background-color: #151515;
  width: 60% !important;
}

.navbar {
  background-color: #191919 !important;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  box-shadow: 2px 2px 20px rgb(17, 17, 17);
}

.small-logo {
  display: none;
}

.menudiv {
  margin-right: 20px;
}

.buttonmargin {
  margin-right: 20px;
}

/* Home Title Styles */

.home-title {
  color: white;
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 650;
  margin-bottom: 1.5rem;
  letter-spacing: 0;
}

.home-description {
  color: #cecece;
  font-size: 1.3rem;
  max-width: 25rem;
  line-height: 1.8rem;
  margin-bottom: 2.8rem;
}

/* Home Benefits Styles */

.home-benefits-title {
  color: white;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 400;
  margin-left: 1rem;
}

.home-benefits-description {
  font-size: 1.2rem;
  line-height: 1.5rem;
  max-width: 19rem;
  color: #cecece;
  letter-spacing: 0;
  padding-top: 0.3rem;
  padding-bottom: 2rem;
}

/* Home Token Cards Styles */

.home-token-card-title {
  color: white;
  font-size: 2.5rem;
  line-height: 3.3rem;
  font-weight: 650;
  margin-bottom: 2.2rem;
  letter-spacing: 0;
}

.token-card-info-text {
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  color: #fff;
  margin-top: 1.8rem;
}

/* Footer Styles */

.social-media-div {
  margin: 20px 40px 20px 40px;
}

.social-media-links {
  padding: 0px 32px 0px 32px;
}

.social-media-img:hover {
  opacity: 0.5;
}

footer {
  background-color: #151515;
  padding-bottom: 10px;
}

.footer-links {
  text-decoration: none;
  color: white;
}

.footer-links-div {
  margin: 0px 450px 20px 450px;
}

/* Media Queries  */

@media only screen and (max-width: 768px) {
  .social-media-links {
    padding: 0px 10px 0px 10px;
  }

  .footer-links-div {
    margin: 0px 100px 0px 100px;
  }

  .logo {
    display: none;
  }

  .buttonmargin {
    margin: 0px;
  }

  .navbar-button {
    width: 80px;
  }

  .small-logo {
    display: block;
  }

  .connect-wallet {
    display:none;
  }
}
